.team {
  margin: 100px 0 70px;
}

.team_inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team_item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team_photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team_name {
  margin-bottom: 8px;
  font-size: 22px;
  color: #57595c;
}

.team_pro {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}


.team_text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}