.header {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.fixed {
  position: fixed;
  background-color: #31344e;

}

.header.fixed .header__inner {
  height: auto;
  padding: 15px;
  border-bottom: 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  border-bottom: 1px solid #505369;
}
