.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav_link {
  margin-left: 60px;
  color: #fff;
  text-decoration: none;
  opacity: .75;
  transition: opacity .1s linear;
}

.nav_link:first-child {
  margin-left: 0;
}

.nav_link:hover {
  opacity: 1;
}

@media (max-width: 991px) {
  .nav {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: right;
    background-color: #31344e;
    position: absolute;
    top: 100%;
    right: 0;
  }

  .nav.show {
    display: flex;
  }

  .nav_link {
    padding: 10px 15px;
  }
}