.features {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.features__item {
  margin: 25px 0;
  width: 33.33333%;
  padding: 0 40px;
  text-align: center;
}

.features__icon {
  margin-bottom: 25px;
}

.features_title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.fearutes_text {
  font-size: 14px;
  line-height: 1.5;
  color: #787e84;
}

@media (max-width: 991px) {
  .features__item {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .features {
    margin: 40px 0;
  }

  .features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}