.btn {
  /*    margin-top: 60px;*/
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;

  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  /* or*/
  /* font-family: 'Raleway', sans-serif;*/
  border: 0;

  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  transition: background .1s linear;
}

.btn--red {
  background-color: #e84545;

}

.btn--red:hover {
  background-color: #ce3030;
}

.btn--long {
  min-width: 280px;
}